/* ROOT */
.root {
    -fx-background-color: #0f172a;
    -fx-font-family: "Segoe UI";
}

/* SIDEBAR */
.sidebar {
    -fx-background-color: #1e293b;
    -fx-padding: 20;
}

/* TEXT */
.logo {
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.subtitle {
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

.section-label {
    -fx-text-fill: white;
    -fx-font-size: 11px;
}
